body,html{
  height:100%;
  width:100%;
}

.fluid-container {
  color: #EEEBE7;
}

.header {
  text-align: center;
  font-family: 'Abril Fatface';
  font-size: 25px;
}

.search {
  font-family: 'Kanit';
}

.row-0{
  padding-top: 20px;
  margin: 0;
  height: 70px;
  background-color: #99738E;
}

.col-3 {
  background-color: #F64C72;
  height: 500px;
}

.row-1 img {
  height: 350px;
  width: auto;
  margin:auto;
}

.row-2{
  width: 100%;
  padding:0;
  margin:0;
}

.list {
  margin:auto;
  padding-top: 15px;
  font-family: 'Kanit';
  font-size: 20px;
  list-style-type: none;
}

.square {
  background-color: #242582;
  padding-top: 40px;
}

.square-item {
  background-color: #EEEBE7;
  width: 50%;
  height: 25%;
  border-radius: 25%;
}